.redes{
    margin-bottom: 2.5rem;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 50px;
    
}
.redes img{
    width: 50px;
}
.github img{
    width: 120px;
}
.redes-icono img:hover{
    transition: 0.5s;
    width: 40px;
    opacity: 0.5;
}
.github img:hover{
    width: 110px;
    opacity: 0.5;
}
@media only screen and (min-width: 320px) and (max-width: 768px){
    .redes{
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 25px;
        padding: 0 2rem 0 2rem;
    }
}